//- coat.pug
//- Extend a template given a file path to that template
extend fluffy.pug

block content
 h2 Fluffy's Sexy Coat
 p His coat brings all the little pugs to the yard. Dazzling, radiant, you name it, Fluffy's got it.
 a(href="okcupid.com/fluffy") Check Fluffy out on Okcupid ;)